<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config>
    <modules>
        <Mozg_Redecard>
            <version>1.0.0</version>
        </Mozg_Redecard>
    </modules>
    <global>
        <models>
            <mozg_redecard>
                <class>Mozg_Redecard_Model</class>
                <resourceModel>mozg_redecard_resource</resourceModel>
            </mozg_redecard>
            <mozg_redecard_resource>
                <class>Mozg_Redecard_Model_Resource</class>
                <entities>
                    <api_debug>
                        <table>mozg_api_debug</table>
                    </api_debug>
                    <event>
                        <table>mozg_event_data</table>
                    </event>
                    <event_queue>
                        <table>mozg_event_data_queue</table>
                    </event_queue>
                    <order_payment>
                        <table>mozg_order_payment</table>
                    </order_payment>
                </entities>
            </mozg_redecard_resource>
            <!--<sales>
                <rewrite>
                    <billing_agreement>Mozg_Redecard_Model_Billing_Agreement</billing_agreement>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <billing_agreement>Mozg_Redecard_Model_Resource_Billing_Agreement</billing_agreement>
                    <billing_agreement_collection>Mozg_Redecard_Model_Resource_Billing_Agreement_Collection</billing_agreement_collection>
                </rewrite>
            </sales_resource>-->
        </models>
        <helpers>
            <mozg_redecard>
                <class>Mozg_Redecard_Helper</class>
            </mozg_redecard>
            <payment>
                <rewrite>
                    <data>Mozg_Redecard_Helper_Payment_Data</data>
                </rewrite>
            </payment>
        </helpers>
        <resources>
            <mozg_redecard_setup>
                <setup>
                    <module>Mozg_Redecard</module>
                    <class>Mozg_Redecard_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mozg_redecard_setup>
            <mozg_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mozg_write>
            <mozg_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mozg_read>
        </resources>
        <blocks>
            <mozg_redecard>
                <class>Mozg_Redecard_Block</class>
            </mozg_redecard>
            <sales>
                <rewrite>
                    <adminhtml_billing_agreement_grid>Mozg_Redecard_Block_Adminhtml_Sales_Billing_Agreement_Grid</adminhtml_billing_agreement_grid>
                </rewrite>
            </sales>
        </blocks>
        <events>
            <!--<sales_order_payment_capture>
                <observers>
                    <mozg_redecard_payment_capture>
                        <class>mozg_redecard/observer</class>
                        <method>addCurrentInvoiceToPayment</method>
                    </mozg_redecard_payment_capture>
                </observers>
            </sales_order_payment_capture>
            <controller_action_predispatch>
                <observers>
                    <mozg_redecard_komerci_hpp>
                        <class>mozg_redecard/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_redecard_komerci_hpp>
                    <mozg_redecard_billing_agreement>
                        <class>mozg_redecard/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_redecard_billing_agreement>
                </observers>
            </controller_action_predispatch>
            <sales_order_shipment_save_after>
                <observers>
                    <mozg_redecard_capture_invoice_on_shipment>
                        <class>mozg_redecard/observer</class>
                        <method>captureInvoiceOnShipment</method>
                    </mozg_redecard_capture_invoice_on_shipment>
                </observers>
            </sales_order_shipment_save_after>-->
        </events>
    </global>
    <frontend>
        <secure_url>
            <mozg_process>/mozg_redecard/process</mozg_process>
        </secure_url>
        <routers>
            <mozg_redecard>
                <use>standard</use>
                <args>
                    <module>Mozg_Redecard</module>
                    <frontName>mozg_redecard</frontName>
                </args>
            </mozg_redecard>
        </routers>
        <translate>
            <modules>
                <Mozg_Redecard>
                    <files>
                        <default>Mozg_Redecard.csv</default>
                    </files>
                </Mozg_Redecard>
            </modules>
        </translate>
        <layout>
            <updates>
                <mozg_redecard>
                    <file>mozg_redecard.xml</file>
                </mozg_redecard>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <mozg_redecard_checkout_onepage_controller_success_action>
                        <class>mozg_redecard/observer</class>
                        <method>checkoutSuccess</method>
                    </mozg_redecard_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Redecard before="Mage_Adminhtml">Mozg_Redecard_Adminhtml</Mozg_Redecard>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mozg_redecard>
                    <file>mozg_redecard.xml</file>
                </mozg_redecard>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mozg_Redecard>
                    <files>
                        <default>Mozg_Redecard.csv</default>
                    </files>
                </Mozg_Redecard>
            </modules>
        </translate>
        <events>
            <sales_order_payment_cancel>
                <observers>
                    <mozg_redecard_sales_order_payment_cancel>
                        <class>mozg_redecard/observer</class>
                        <method>salesOrderPaymentCancel</method>
                    </mozg_redecard_sales_order_payment_cancel>
                </observers>
            </sales_order_payment_cancel>
            <controller_action_postdispatch_adminhtml_sales_order_create_save>
                <observers>
                    <mozg_redecard_controller_action_postdispatch_adminhtml_sales_order_create_save>
                        <class>mozg_redecard/observer</class>
                        <method>adminSalesOrderCreateSave</method>
                    </mozg_redecard_controller_action_postdispatch_adminhtml_sales_order_create_save>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_create_save>
        </events>
    </adminhtml>
    <default>
        <payment>
            <mozg_redecard_abstract>
                <!-- BASE -->
                <active>0</active>
                <sort_order>4000</sort_order>
                <debug>1</debug>
                <!-- DEFAULT -->
                <demoMode>Y</demoMode>
                <capture_mode>auto</capture_mode>
                <order_status>pending</order_status>
                <payment_pre_authorized>pending</payment_pre_authorized>
                <payment_authorized>processing</payment_authorized>
                <payment_cancelled>holded</payment_cancelled>
                <payment_authorized_virtual>complete</payment_authorized_virtual>
                <refund_authorized>closed</refund_authorized>
                <refund_partial_authorized>processing</refund_partial_authorized>
                <pending_status>pending_payment</pending_status>
                <create_pending_invoice>0</create_pending_invoice>
                <capture_on_shipment>0</capture_on_shipment>
                <uncancelorder>1</uncancelorder>
                <autorefundoncancel>1</autorefundoncancel>
                <send_invoice_update_mail>1</send_invoice_update_mail>
                <send_update_mail>1</send_update_mail>
                <ignore_refund_notification>0</ignore_refund_notification>
                <!--<recurringtypes>ONECLICK</recurringtypes>-->
                <payment_cancelled_redirect>checkout/cart</payment_cancelled_redirect>
                <title_renderer>title_image</title_renderer>
                <shopperlocale></shopperlocale>
                <countryCode></countryCode>
                <split_payments_refund_strategy>1</split_payments_refund_strategy>
            </mozg_redecard_abstract>
            <mozg_redecard_komerci_cc translate="title" module="mozg_redecard">
                <active>0</active>
                <sort_order>4010</sort_order>
                <title>Cartão de Crédito Redecard Komerci Webservice (powered by MOZG)</title>
                <model>mozg_redecard/method_komerci_cc</model>
                <group>mozg_payment</group>                
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <cctypes>VI,MC,DC,hipercard,hiper</cctypes>
                <visible_type>both</visible_type>
                <authenticate>0</authenticate>
                <enable_moto>0</enable_moto>
                <enable_installments>1</enable_installments>
                <installments>a:6:{i:0;a:4:{i:0;s:3:"BRL";i:1;s:3:"100";i:2;s:1:"1";i:3;s:1:"0";}i:1;a:4:{i:0;s:3:"BRL";i:1;s:3:"200";i:2;s:1:"2";i:3;s:1:"0";}i:2;a:4:{i:0;s:3:"BRL";i:1;s:3:"600";i:2;s:1:"3";i:3;s:1:"0";}i:3;a:4:{i:0;s:3:"BRL";i:1;s:3:"800";i:2;s:1:"4";i:3;s:1:"0";}i:4;a:4:{i:0;s:3:"BRL";i:1;s:5:"10000";i:2;s:1:"5";i:3;s:1:"0";}i:5;a:4:{i:0;s:3:"BRL";i:1;s:6:"100000";i:2;s:1:"6";i:3;s:1:"0";}}</installments>
            </mozg_redecard_komerci_cc>

        </payment>
        <mozg_redecard>
            <payment>
                <cctypes>
                    <VI>
                        <code>VI</code>
                        <code_alt>visa</code_alt>
                        <name>Visa</name>
                        <order>10</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <code_alt>mc</code_alt>
                        <name>Master Card</name>
                        <order>20</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </MC>
                    <DC>
                        <code>DC</code>
                        <code_alt>diners</code_alt>
                        <name>Diners Club</name>
                        <order>40</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </DC>
                    <hipercard>
                        <code>hipercard</code>
                        <code_alt>hipercard</code_alt>
                        <name>Hipercard</name>
                        <order>60</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </hipercard>
                    <hiper>
                        <code>hiper</code>
                        <code_alt>hiper</code_alt>
                        <name>Hiper</name>
                        <order>80</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </hiper>
                </cctypes>
                <dctypes>
                    <VI>
                        <code>VI</code>
                        <code_alt>visa</code_alt>
                        <name>Visa</name>
                        <order>10</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </VI>
                    <SM>
                        <code>SM</code>
                        <code_alt>maestro</code_alt>
                        <name>Maestro</name>
                        <order>60</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </SM>
                </dctypes>
                <boletotypes>
                    <Bradesco>
                        <code>Bradesco</code>
                        <name>Banco Bradesco</name>
                        <order>0</order>
                    </Bradesco>
                    <BancoDoBrasil>
                        <code>BancoDoBrasil</code>
                        <name>Banco do Brasil</name>
                        <order>0</order>
                    </BancoDoBrasil>
                </boletotypes>
                <eletronictransfertypes>
                    <Bradesco>
                        <code>Bradesco</code>
                        <name>Banco Bradesco</name>
                        <order>0</order>
                    </Bradesco>
                    <BancoDoBrasil>
                        <code>BancoDoBrasil</code>
                        <name>Banco do Brasil</name>
                        <order>0</order>
                    </BancoDoBrasil>
                </eletronictransfertypes>
                <recurringtypes>
                    <none>
                        <code></code>
                        <name>NONE</name>
                        <order>10</order>
                    </none>
                    <oneclick>
                        <code>ONECLICK</code>
                        <name>ONECLICK</name>
                        <order>20</order>
                    </oneclick>
                    <recurring>
                        <code>RECURRING</code>
                        <name>RECURRING</name>
                        <order>30</order>
                    </recurring>
                    <oneclickrecurring>
                        <code>ONECLICK,RECURRING</code>
                        <name>ONECLICK,RECURRING</name>
                        <order>40</order>
                    </oneclickrecurring>
                </recurringtypes>
            </payment>
        </mozg_redecard>
    </default>
    <crontab>
        <jobs>
            <mozg_redecard_process_notification_queue>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mozg_redecard/cronjob::updateNotificationQueue</model>
                </run>
            </mozg_redecard_process_notification_queue>
        </jobs>
    </crontab>
</config>